<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
    <a class="navbar-brand" href="{{ path('app_home') }}">
        <img src="{{ asset("/assets/img/rbase_logo.png") }}" width="50" height="50" alt="Ripplebase logo" class="m-lg-2">
    </a>
    <div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false"
                >
                    Genres
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item text-warning" href="#">Hardstyle</a>
                    <a class="dropdown-item text-warning" href="#">Hard Trance</a>
                    <a class="dropdown-item text-warning" href="#">Techno</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_about_us') }}">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-end">
        {% if app.user %}
            <p class="m-lg-2">Bienvenue {{ app.user.username }} !</p>
            <a href={{ path('app_logout') }}>
                <button class="btn btn-warning mx-1">Se deconnecter</button>
            </a>
        {% else %}
            <a href={{ path('app_register') }}>
                <button class="btn btn-warning mx-1">S'inscrire</button>
            </a>
            <a href={{ path('app_login') }}>
                <button class="btn btn-primary mx-1">Se connecter</button>
            </a>
        {% endif %}
    </div>
    {% block header %}{% endblock %}
</nav>
