{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}

    {% include 'partials/navbar.html.twig' %}
    <div class="container">
        <section>
            <h2 class="mb-4">{{ publication.title }}</h2>
            <img class="img-fluid rounded-top-5" src="{{ publication.imagePath }}" alt="{{ publication.title }}">
            <div class="d-flex justify-content-between mt-2">
                <p>Genre :
                    {% for categorie in publication.categories %}
                        {{ categorie.tag }}
                    {% endfor %}
                </p>
                {% for avg in avgRatings %}
                    {% if avg != 0 %}
                        <p>Moyenne des utilisateurs ({{ avg|round(1, 'ceil') }})
                            :{% include 'partials/stars.html.twig' with {'note': avg} %}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <article class="my-3">{{ publication.description }}</article>
        </section>
        <section class="mt-2">
            {% if app.user %}
                <div class="mb-3">
                    {{ form_start(addRating) }}
                    {{ form_end(addRating) }}
                </div>
                <div class="mb-3">
                    {{ form_start(addComment) }}
                    {{ form_end(addComment) }}
                </div>
            {% endif %}
            {% if comments|length != 0 %}
                <h4>Commentaires :</h4>
            {% endif %}
            {% for comment in comments %}
                <div class="card bg-dark bg-gradient mb-1">
                    <div class="row g-0">
                        <div class="col-md-2 p-2 rounded-start bg-warning text-dark">
                            <p class="text-center">{{ comment.user.username }}</p>
                            <img class="img-fluid mx-auto d-block rounded"
                                 src="https://media.craiyon.com/2025-04-17/7ymxGs5_SKmiQmAq1P3eCQ.webp"
                                 alt="cyberpunk char" width="150" height="150">
                            <p class="text-center">Membre depuis le : {{ comment.user.createdAt|date("d/m/Y") }}</p>
                        </div>
                        <div class="col-md-10 text-light">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <p><i>publié le {{ comment.createdAt|date("d/m/Y") }} :</i></p>
                                    {% if app.user %}
                                        {% if app.user.id == comment.user.id %}
                                            <div>
                                                <button class="btn bg-warning mx-1" data-btn-update="{{ comment.id }}">
                                                    Modifier
                                                </button>
                                                <a class="btn bg-warning mx-1"
                                                   href="{{ path('app_delete_comment', {'id': comment.id}) }}">Supprimer</a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <p data-text-update="{{ comment.id }}">{{ comment.description }}</p>
                                <div class="position-absolute bottom-0 start-20">
                                    {% for rating in comment.user.ratings %}
                                        {% if rating.publication.id == publication.id %}
                                            <p><i>Note accordée à l'événement
                                                    :{% include 'partials/stars.html.twig' with {'note': rating.notation} %}</i>
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>

{% endblock %}
