{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}

    {% include 'partials/navbar.html.twig' %}
    <div class="container">
        <section>
            <h2 class="mb-4">{{ publication.title }}</h2>
            <img class="img-fluid rounded-top-5" src="{{ publication.imagePath }}" alt="{{ publication.title }}">
            <p class="mt-2">Genre :
                {% for categorie in publication.categories %}
                    {{ categorie.tag }}
                {% endfor %}
            </p>
            <article class="mt-2">{{ publication.description }}</article>
        </section>
        <section class="mt-2">
            {% for comment in publication.comments %}
                <div class="card bg-dark bg-gradient mb-1">
                    <div class="row g-0">
                        <div class="col-md-2 p-2 rounded-start bg-warning text-dark">
                            <p>{{ comment.user.username }}</p>
                            <img class="rounded" src="https://media.craiyon.com/2025-04-17/7ymxGs5_SKmiQmAq1P3eCQ.webp" alt="cyberpunk char" width="100" height="100">
                            <p>Membre depuis le : {{ comment.user.createdAt|date("d/m/Y") }}</p>
                        </div>
                        <div class="col-md-10 text-light">
                            <div class="card-body">
                                <p>{{ comment.description }}</p>
                                {% for rating in comment.user.ratings %}
                                    {% if rating.publication.id == publication.id %}
                                        <p>Note de l'évènement : {{ rating.notation }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>

{% endblock %}
