{% extends 'base.admin.html.twig' %}

{% block title %}Gérer les publications{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Liste des publications</h1>
        <div class="row table-responsive">
            <table class="table table-dark table-striped align-middle">
                <tr class="text-center">
                    <th>Date de création</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date de publication</th>
                    <th>Catégorie</th>
                    <th>Action</th>
                </tr>
                {% for publication in publications %}
                    <tr>
                        <td>{{ publication.createdAt|date("d/m/Y") }}</td>
                        <td>{{ publication.title }}</td>
                        <td>{{ publication.description|short_description }}</td>
                        <td>{{ publication.releasedAt|date("d/m/Y") }}</td>
                        {% for categorie in publication.categories %}
                            <td>{{ categorie.tag }}</td>
                        {% endfor %}
                        <td>
                            <div class="d-flex flex-row">
                                <a href="#">
                                    <button class="btn text-light">Editer</button>
                                </a>
                                {#                                <a href={{ path('app_show_game', {'slug': game.slug }) }}> #}
                                {#                                    <button class="btn btn-primary">Voir</button> #}
                                {#                                </a> #}
                                {#                                <a href={{ path('app_admin_delete-game', {'slug': game.slug }) }}> #}
                                {#                                    <button class="btn btn-danger">Supprimer</button> #}
                                {#                                </a> #}
                                {#                            </div> #}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(publications) }}
        </div>
    </div>
{% endblock %}
